<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home Admin page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>


</head>
<body>

<div class="container-scroller">

    <div th:replace="fragments/header_admin :: header_admin_info (vm=${vm.getLayoutHeaderAdminVM()})"></div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/product}">
                        <span class="menu-title">Sản phẩm</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/category}">
                        <span class="menu-title">Danh mục</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/order}">
                        <span class="menu-title">Đơn hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/news}">
                        <span class="menu-title">Tin tức</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/chart}">
                        <span class="menu-title">Biểu đồ thống kê</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/cart}">
                        <span class="menu-title">Giỏ hàng</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper" style="padding: 10px">
                <div class="page-header">
                    <h1>Quản lý đơn hàng</h1>
                    <form class="form-inline my-2 my-lg-0" th:action="@{/admin/order}" th:object="${cmnd}"
                          method="get">
                        <input class="form-control mr-sm-2" th:field="*{cmnd}" type="search" placeholder="Tìm kiếm theo cmnd"
                               aria-label="Search">
                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                    </form>
                </div>
                <h2 th:if="${vm.getKeyWord()}" th:text="${vm.getKeyWord()}"></h2>
<!--                <button type="button" class="btn btn-primary" id="new-order" data-toggle="modal"-->
<!--                        style="margin-bottom: 20px" data-target="#exampleModalLong">-->
<!--                    Thêm đơn hàng-->
<!--                </button>-->
                <div class="col-lg-12 grid-margin stretch-card" style="padding: 0">
                    <div class="card">
                        <div class="card-body" style="padding: 15px">
                            <table class="table table-bordered text-center">
                                <thead>
                                <tr>
                                    <th colspan="1">
                                        STT
                                    </th>
                                    <th colspan="1">
                                        Tên khách hàng
                                    </th>
                                    <th colspan="1">
                                        SĐT
                                    </th>
                                    <th colspan="1">
                                        Địa chỉ
                                    </th>
                                    <th colspan="1">
                                        CMND
                                    </th>
                                    <th colspan="1">
                                        Email
                                    </th>
                                    <th colspan="1">
                                        Giá
                                    </th>
                                    <th colspan="1">
                                        Ngày tạo
                                    </th>
                                    <th colspan="1">
                                        Trạng thái
                                    </th>
                                    <th colspan="1">
                                        Chi tiết
                                    </th>
                                    <th colspan="1">
                                        Tùy chọn
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order,iter : ${vm.getOrderVMList()}">
                                    <td colspan="1" th:text="${order.getId()}"></td>
                                    <td colspan="1" th:text="${order.getCustomerName()}"></td>
                                    <td colspan="1" th:text="${order.getPhoneNumber()}"></td>
                                    <td colspan="1" th:text="${order.getAddress()}"></td>
                                    <td colspan="1" th:text="${order.getCmnd()}"></td>
                                    <td colspan="1" th:text="${order.getEmail()}"></td>
                                    <td colspan="1" th:text="${order.getPrice()+'VNĐ'}"></td>
                                    <td colspan="1" th:text="${order.getCreatedDate()}"></td>
                                    <td th:text="${order.getStatus()}"></td>
                                    <td colspan="1">
                                        <a class=""
                                           style="width: 55px; text-align: center; padding: 10px"
                                           th:href="@{'/admin/order/'+${order.getId()}}" role="button"><i class="fas fa-info"></i></a>
                                    </td>
                                    <td colspan="1">
                                        <i class="mdi mdi-brightness-7 tooltip-test edit-order"
                                           th:attr="data-order = ${order.getId()}" data-toggle="modal"
                                           title="Edit product" data-target="#exampleModalLong"
                                           style="cursor: pointer"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <nav style="margin-top: 50px" aria-label="..." th:if="${vm.getOrderVMList().size()>0}">
                    <ul class="pagination">
                        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                            <li class="page-item active" th:if="${page.number == i}" aria-current="page">
                                <a class="page-link" th:href="${''}" th:text="${i+1}"><span class="sr-only"></span></a>
                            </li>
                            <li class="page-item" th:unless="${page.number == i}"><a class="page-link" th:text="${i+1}"
                                                                                     th:href="${'?'
                                                                                                       +('&page='+i)
                                                                                                       +(#httpServletRequest.getParameter('size')==null?'':('&size='+#httpServletRequest.getParameter('size')))
                                                                                                       +(#httpServletRequest.getParameter('name')==null?'':('&name='+#httpServletRequest.getParameter('name')))}"></a>
                            </li>
                        </th:block>
                    </ul>
                </nav>
            </div>


            <!--            Modal-->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Thêm / Cập nhật đơn hàng</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group margin-bottom-15">
                                <label>Tên khách hàng</label>
                                <input type="text" class="form-control" id="input-customer-name">
                            </div>

                            <div class="form-group margin-bottom-15">
                                <label>SĐT</label>
                                <input type="text" class="form-control" id="input-phone-number">
                            </div>

                            <div class="form-group margin-bottom-15">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" id="input-address">
                            </div>

                            <div class="form-group margin-bottom-15">
                                <label>CMND</label>
                                <input type="text" class="form-control" id="input-cmnd">
                            </div>

                            <div class="form-group margin-bottom-15">
                                <label>Email</label>
                                <input type="text" class="form-control" id="input-email">
                            </div>

                            <div class="form-group">
                                <label>Trạng thái:</label>
                                <select class="form-control" id="input-status">
                                    <option th:each="status : ${vm.getStatusVMList()}" th:value="${status.getId()}"
                                            th:text="${status.getName()}"></option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary btn-save-order">Lưu thay đổi</button>
                        </div>
                    </div>
                </div>

            </div>

            <footer class="footer" th:replace="fragments/footer_admin :: footer_admin_info"></footer>

        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/misc.js}"></script>

<script th:src="@{/js/admin/admin-order.js}"></script>

</body>
</html>