<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/change-password.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Change Password</title>
</head>
<body>
<div th:replace="fragments/header :: header_info (vm=${changePassword.getLayoutHeaderVM()})"></div>

<!--Slider-->
<section class="breadcrumb-area bg">
    <div class="page-title-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <ul>
                        <h6>Change password</h6>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Change password-->
<div class="change-password">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <form th:action="@{/user/change-password}" th:object="${changePassword}" method="post">
                    <fieldset>
                        <h1>Đổi mật khẩu</h1>
                        <div th:if="${param.success}">
                            <div class="alert alert-primary">
                                Đổi mật khẩu thành công !!
                            </div>
                        </div>
                        <div th:if="${param.fail}">
                            <div class="alert alert-danger">
                                Đổi mật khẩu thất !!
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu cũ</label>
                            <input type="password" class="form-control" id="currentPassword"
                                   th:field="*{currentPassword}" name="currentPassword"/>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}"
                                   name="newPassword"/>
                        </div>
                        <div class="form-group">
                            <label>Xác nhận lại mật khẩu</label>
                            <input type="password" class="form-control" id="confirmPassword"
                                   th:field="*{confirmPassword}" name="confirmPassword"/>
                        </div>
                        <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>


<div th:replace="fragments/footer :: footer_info"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/footer.js}"></script>

</body>
</html>