<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/news-detail.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>News Detail</title>
</head>
<body>

<div th:replace="fragments/header :: header_info (vm=${vm.getLayoutHeaderVM()})"></div>

<section class="breadcrumb-area bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Tin Tức</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="news">
    <div class="container">
        <div class="news-tittle text-center" style="color: #ae8545">
            <h3 th:text="${vm.getNewsVM().getName()}"></h3>
        </div>
        <div class="written-by">
            <p class="text-center">
                <span>Đăng bởi :</span>
                <span class="author" th:text="${vm.getNewsVM().getAuthor()+' : '}">
                </span><i class="far fa-clock"></i>
                <span th:text="${vm.getNewsVM().getCreatedDate()}"></span>
            </p>
        </div>
        <div class="news-content" data-th-utext="*{vm.getNewsVM().getContent()}"></div>
    </div>
</div>


<div th:replace="fragments/footer :: footer_info"></div>
<script th:src="@{/js/footer.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/news-detail.js}"></script>

</body>
</html>